*.DS_Store
__pycache__
.ipynb_checkpoints
datasets

# Ignore every file
*
!*/

# Excepted
!*.sh
!*.py
!*.hpp
!*.cu
!*.cpp
!*.md
!*.tex
!*.deps
!*.pdf
!.placeholder
!*.png
!*.csv
!*.txt
!*.t
!*.ipynb
!*.pth
